@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

* {
  font-family: "Inter", sans-serif;
}

.main-bg {
  background-image: url("./images/main-bg.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Scale up */
  }
  100% {
    transform: scale(1);
  }
}

.animate-breathe {
  animation: breathe 2s infinite; /* Adjust duration and repetition as needed */
}

.mission-bg {
  background-image: url("./images/bg2.png");
  background-size: cover;
  background-position: center;
  min-height: 50vh;
}
